---
layout: page
title: Steering Committee
---

<article class="mb-5 p-4 rounded border table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>Name
				</th>
				<th>Affiliation
				</th>
			</tr>
		</thead>
		<tbody>
            {% assign chairs = site.data.steering-committee | where: "chair", true | sort: 'surname' %}
			{% assign sorted_members = site.data.steering-committee | where: "chair", null | sort: 'surname' %}
			{% for member in chairs %}
				<tr>
					<td>
						{{ member.name }}
						<strong>
							{{ member.surname }}
						</strong>
                        <span class="badge bg-primary">Chair</span>
					</td>
					<td>
						<em>
							{{ member.affiliation }}
						</em>
						({{ member.country }})
					</td>
				</tr>
			{% endfor %}
			{% for member in sorted_members %}
				<tr>
					<td>
						{{ member.name }}
						<strong>
							{{ member.surname }}
						</strong>
					</td>
					<td>
						<em>
							{{ member.affiliation }}
						</em>
						({{ member.country }})
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</article>
