<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand fw-semibold" href="#">
			<img
				class="me-1"
				src="{% link assets/images/logo-sm.svg %}"
				height="32"
				alt="">
			IS-EUD
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% for navlink in site.data.navigation %}
					<li class="nav-item">
						{% if navlink.file %}
							<a class="nav-link {% if page.path == navlink.file %}active{% endif %}" href="{% link {{ navlink.file }} %}">
								{{ navlink.title }}
							</a>
						{% else %}
							<a class="nav-link disabled">
								{{ navlink.title }}
							</a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>
